* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  height: 100%;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}

span {
  margin: 10px;
  color: #444;
  font-size: 12px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  position: relative;
  display: block;
  width: 300px;

}

input, button {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  outline: 0;
  border: none;
  border-radius: 10px;
  background: #444;
  color: #999;
  box-shadow: 0 20px 30px -20px #000;
}

input.userpass {
  text-align: center;
}

input.userpass#user {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #555;
}

input.userpass#password {
  border-radius: 0;
  border-radius: 0 0 10px 10px;
  margin-bottom: 10px;
}

button.userpass {
  background: #222;
  cursor: pointer;
}

button.singlepass {
  position: absolute;
  width: 50px;
  top: 0; right: 0;
  background: #222;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}

button.singlepass::before,
button.singlepass::after {
  content:'';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

input.singlepass[type='password'] + button.singlepass::before {
  width: 15px;
  height: 15px;
  border-top: 3px solid #444;
  border-right: 3px solid #444;
  transform: translate(-3px) rotate(45deg);
}
